<div class="blackjack-main-container" [ngClass]="(!gameStatus)?'blackjack-main-container frame':'blackjack-main-container'">
  <div [ngClass]="{'r-border': !gameStatus}"></div>
  <div class="blackjack-container-center">
  <div *ngIf="!gameStatus; else start" class="">
      <h1>Oczko</h1>
      <div class="game-mode-select-container">
        <p>Wybierz tryb gry:</p>
        <button class="btn single-player" (click)="chooseGameModeSingleplayer()">Pojedynczy gracz</button>
        <button class="btn multiplayer" (click)="chooseGameModeMultiplayer()">Gra wieloosobowa</button>
    </div>
  </div>
    <ng-template #start>
      <app-game-container></app-game-container>
    </ng-template>
  </div>
  <div [ngClass]="{'l-border': !gameStatus}"></div>
</div>
<div>
  <app-start-agame></app-start-agame>
</div>
